.power {

font-size: 13px;
margin-top: -1.5em;
border-radius: 1em;
background: #2C2C2C;
width: 0.4em;
height: 1.2em;
position: relative;

}

.power::before {

right: -1.2em;
-webkit-transform: rotate(-25deg);
border-top: 0.4em solid rgba(44, 44, 44, 0);
top: 0.2em;
position: absolute;
content: \'\';
height: 2em;
width: 2em;
border-radius: 100%;
border-right: 0.4em solid #2C2C2C;
border-bottom: 0.4em solid rgba(44, 44, 44, 0);
border-left: 0.4em solid rgba(44, 44, 44, 0);

}
.power::after {
right: -1.2em;
-webkit-transform: rotate(25deg);
border-top: 0.4em solid rgba(44, 44, 44, 0);
top: 0.2em;
position: absolute;
content: \'\';
height: 2em;
width: 2em;
border-radius: 100%;
border-right: 0.4em solid #2C2C2C;
border-bottom: 0.4em solid #2C2C2C;
border-left: 0.4em solid #2C2C2C;
}		