.smiley {
	border-radius: 1em;

	-webkit-box-shadow: 0 0 0 .4em #2C2C2C, inset 0 0 0 .1em #2C2C2C;
	box-shadow: 0 0 0 .4em #2C2C2C, inset 0 0 0 .1em #2C2C2C;
	display: inline-block;
	height: 2em;
	left: 50%;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
	-webkit-filter: drop-shadow(0 2px 3px hsla(0,0%,0%,.25));
}

.smiley:after,.smiley:before {
	background-image: -webkit-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: -moz-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: -o-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: -ms-radial-gradient(transparent 35%, #2C2C2C 35%);
	background-image: radial-gradient(transparent 35%, #2C2C2C 35%);
	content: \'\';
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.smiley:after {
	border-radius: 1em 0 0 0;
	left: 0;
}

.smiley:before {
	border-radius: 0 1em 0 0;
	right: 0;
}
