.profil {
	font-size: 24px;
	top: 0.5em;
	border-radius: 0.7em 0.7em 0 0;
	background: #2C2C2C;
	width: 1.5em;
	height: 0.8em;
	position: relative;
	-webkit-filter: drop-shadow(0 2px 3px hsla(0,0%,0%,.25));
}

.profil::before {
	position: absolute;
	content: \"\";
	top: -0.9em;
	left: 0.38em;
	width: 0.8em;
	height: 0.85em;
	border-radius: 50%;
	background: #2C2C2C;
}